body
{
    background-color: rgba(25, 104, 25, 0.644);
}
ul 
{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(255, 0, 0, 0.5);
}
li
{
    float: left;

}
li a 
{
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 150%;
    padding: 15px 15px;
}
li a:hover 
{
    background-color: rgb(0, 0, 0);
    color:red;
}
h1
{
    font-size: 450%;
    text-align: center;
    color: rgb(0, 0, 0);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: underline;
}
h2
{
    text-align: center;
    font-size: 250%;
    color: rgb(0, 0, 0);
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
}
p
{
    color: black;
    font-size: 125%;
    margin-left: 10%;
    margin-right: 10%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
div
{
    background-color: rgba(245, 245, 245, 0.555);
    margin-left: 6%;
    margin-right: 6%;
    border-radius: 10%;
}
.divi
{
    background-color: rgba(245, 245, 245, 0.555);
    margin-left: 6%;
    margin-right: 6%;
    border-radius: 10%;
}
.img1
{
    text-align:  center;
    background-color:rgba(245, 245, 245, 0);
}
img
{
    border-radius: 35%;
}
.aa
{
    border-radius: 1% ;
}
.kep
{
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
}
.java
{
    background-color: rgba(245, 245, 245, 0.555);
    border-radius: 0%;
    font-size: 130%;
    color: black;
    font-weight: bold;
}
table, th, td {
    border: 3px solid rgb(0, 0, 0);
    border-collapse: collapse;
    padding: 15px;

  }
  th, td {
    padding: 5px;
    text-align: left; 
    color: rgb(0, 0, 0);
  }
.pp
{
text-align: center;
font-size: 250%;
text-decoration: underline;
font-weight: bolder;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}